{% extends 'panelAdmin.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <form class="mb-5" action="" method="post" >

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Stock</label>
            <input type="number" name="value" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Taille</label>
            <select class="form-select" name="type" aria-label="Default select example">
                <option selected>sélectionner le type</option>
                <option value="0">Remise en pourcentage</option>

            </select>
        </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Couleur</label>
                <select class="form-select" name="section" aria-label="Default select example">
                    <option selected>sélectionner la cible visée</option>
                    <option value="femme">Femme</option>

                </select>
            </div>







        <button type="submit" class="btn btn-primary">
            Valider

        </button>
    </form>
{% endblock %}

