{% extends 'panelAdmin.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <form class="mb-5" action="{{ path('stock', {id: stock.id}) }}" method="post" >

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Stock</label>
            <input type="number" name="value" value="{{ stock.quantity }}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>


        <button type="submit" class="btn btn-primary">
            Valider

        </button>
    </form>
{% endblock %}

